@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --accentColor: #ff0748;
  --black: #000000;
  --white: #ffffff;
}

html {
  margin: 0;
  padding: 0;
  color: var(--white);
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  font-family: "Poppins", sans-serif;
}

.section {
  margin: 60px 0;
}

.sectionHeader {
  margin: 20px 10px 10px 10px;
  color: var(--accentColor) !important;
  font-size: 2.6em;
  text-align: center;
  text-transform: uppercase;
}

.sectionSubheader {
  color: var(--white) !important;
  text-align: center;
  text-transform: uppercase;
}

.trackCards {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: fit-content;
}

.indent {
  margin-left: 18%;
}

.trackCards .trackCard {
  background-color: var(--white);
  color: var(--black);
  padding: 20px 20px;
  width: 33%;
  margin: 2%;
  box-shadow: 8px 8px var(--accentColor);
}
.indent .trackCard {
  width: 33%;
}

.trackCard .trackHeader {
  text-transform: uppercase;
  text-align: center;
}

.trackCard .trackDesc {
  color: var(--accentColor);
  font-weight: 500;
  padding: 0px 30px;
}

.domainCards {
  text-align: center;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.domainCard {
  border: 2px solid;
  border-radius: 30px;
  border-color: var(--accentColor);
  padding: 30px 0px 20px 0px;
  margin: 2%;
  width: 300px;
}

.domainCard i {
  font-size: 4em;
}

.domainCard .domainName {
  color: var(--accentColor);
  font-size: 1.4em;
}

/* FAQ Section */

.FAQHead {
  color: var(--black);
  font-size: 1.4em;
}

.btn-link:hover {
  text-decoration: none !important;
  color: var(--accentColor);
}

.btn-link:active {
  text-decoration: none !important;
}

.btn-link {
  text-decoration: none !important;
}

.btn-wrap-text {
  overflow: hidden;
  white-space: normal;
  display: inline-block;
  text-overflow: ellipsis;
}

/* ABOUT US  */

.aboutUsDesc {
  color: var(--white);
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: auto;
}

/* Perks Section */
.perkCards {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  margin-bottom: 2%;
}

.perkCard {
  background-color: var(--white);
  margin: 0 100px;
  padding: 20px 20px;
  display: flex;
  width: 20%;
  flex-direction: row;
  border-radius: 10px;
}

.perkDesc {
  font-size: 1.8em !important;
  margin-left: 4%;
  margin: auto;
}

.perkCard i {
  font-size: 4em;
  padding: 20px;
}

/* sponsors section */

.sponsors {
  width: 50%;
  height: auto;
  margin: auto;
  margin-left: 25%;
}

/*SPEAKER*/
.speakerCard {
  padding: 20px;
  width: fit-content;
}
.speakerCard .speakerImg {
  width: 40%;
  border-radius: 20px;
}
.speakerCards {
  text-align: center;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.speakerHead {
  color: var(--accentColor);
  margin-top: 2%;
}

.speakerDesc {
  color: var(--white);
  margin-top: 2%;
  width: 50%;
  margin: auto;
  text-align: justify;
}

/* Hero sectoin */
.jumbotron {
  color: white;
  background-image: url(assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar-dark {
  background-color: #000000 !important;
  color: var(--white) !important;
}

.navbar-nav a {
  background-color: var(--accentColor);
  margin: 0 4% !important;
  padding: 10px 40px !important;
  border-radius: 50px;
  font-weight: bold;
  color: var(--white) !important;
}

/* .logo {
  width: 20%;
  height: auto;
} */

.H4CLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  margin-left: -28%;
}

.H4CText {
  width: 60%;
  height: 60%;
  align-self: center;
  margin-right: 4%;
}

.H4CBox {
  width: auto;
  height: 16em;
  display: inline;
  align-self: center;
  margin-right: 8%;
}

.cody {
  width: 14%;
  height: 14%;
  align-self: center;
}

#countdown {
  text-align: center;
  font-size: 1.8em;
}

nav {
  margin-top: 10px;
}

.timer {
  border-radius: 20px;
  box-shadow: 0 1px black;
  background-color: hsl(0, 1%, 33%);
  width: 39%;
  align-self: center;
  justify-content: center;
  margin: auto;
  padding: 40px 100px;
  font-size: 2em;
  margin-top: 6%;
}

.number {
  background-color: var(--accentColor);
  padding: 10px 20px;
  border-radius: 20px;
}

.tags {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* Footer */
.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

.list-unstyled li a {
  color: #989c9e;
  text-emphasis: none !important;
}

footer p {
  color: #989c9e;
}
.list-unstyled li a:hover {
  color: #0275d8;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #989c9e !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social a {
  color: inherit;
}

.social a:hover {
  color: #0275d8;
}

/* Media Queries */
@media (max-width: 1020px) {
  .sectionHeader {
    font-size: 2.2em;
    margin: 0 40px 10px 40px !important;
  }

  .sectionSubheader {
    font-size: 1.2em;
    margin: 20px 20px;
  }
  .domainCards {
    flex-direction: column;
  }

  .trackCards {
    flex-direction: column;
    margin-left: 12%;
    justify-content: space-around;
  }

  .trackCard {
    width: 80% !important;
    margin: auto;
  }

  .FAQHead {
    color: var(--black);
    font-size: 0.8em;
    text-overflow: ellipsis;
  }

  .aboutUsDesc {
    width: 80%;
  }

  .perkCards {
    /* margin: 10%; */
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .perkCard {
    margin: 4%;
    width: 80%;
  }

  .perkCard i {
    font-size: 1.8em;
  }

  .perkDesc {
    font-size: 1.4em !important;
  }

  .sponsors {
    width: 70%;
    height: auto;
    margin-left: 15%;
  }

  .speakerCards {
    flex-direction: column;
  }

  .navbar-nav a {
    color: var(--accentColor) !important;
    margin: 0 4% !important;
    padding: 10px 40px !important;
    border-radius: 0px;
    font-weight: bold;
    background-color: black;
  }

  .H4CText {
    width: 80%;
    margin-left: 10%;
  }

  .H4CBox {
    display: none;
  }

  .map {
    display: none;
  }

  .footerLogo {
    width: 140%;
    align-self: center;
  }

  .timer {
    width: 80%;
    align-self: center;
    justify-content: center;
    margin: auto;
    padding: 20px 10px;
    font-size: 1em;
    margin-top: 6%;
  }

  .number {
    background-color: inherit;
    padding: 0px 0px;
    border-radius: 0px;
  }
}
