@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --accentColor: #ff0748;
  --black: #000000;
  --white: #ffffff;
}

html {
  margin: 0;
  padding: 0;
  color: var(--white);
}

body {
  background-color: var(--black);
  font-family: "Poppins", sans-serif;
}

.section {
  margin: 60px 0;
}

.sectionHeader {
  margin: 20px 10px 10px 10px;
  color: var(--accentColor) !important;
  font-size: 2.6em;
  text-align: center;
  text-transform: uppercase;
}

.sectionSubheader {
  color: var(--white) !important;
  text-align: center;
  text-transform: uppercase;
}

.trackCards {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: fit-content;
}

.indent {
  margin-left: 18%;
}

.trackCards .trackCard {
  background-color: var(--white);
  color: var(--black);
  padding: 20px 20px;
  width: 33%;
  margin: 2%;
  box-shadow: 8px 8px var(--accentColor);
}
.indent .trackCard {
  width: 33%;
}

.trackCard .trackHeader {
  text-transform: uppercase;
  text-align: center;
}

.trackCard .trackDesc {
  color: var(--accentColor);
  font-weight: 500;
  padding: 0px 30px;
}

.domainCards {
  text-align: center;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.domainCard {
  border: 2px solid;
  border-radius: 30px;
  border-color: var(--accentColor);
  padding: 30px 0px 20px 0px;
  margin: 2%;
  width: 300px;
}

.domainCard i {
  font-size: 4em;
}

.domainCard .domainName {
  color: var(--accentColor);
  font-size: 1.4em;
}

/* FAQ Section */

.FAQHead {
  color: var(--black);
  font-size: 1.4em;
}

.btn-link:hover {
  text-decoration: none !important;
  color: var(--accentColor);
}

.btn-link:active {
  text-decoration: none !important;
}

.btn-link {
  text-decoration: none !important;
}

.btn-wrap-text {
  overflow: hidden;
  white-space: normal;
  display: inline-block;
  text-overflow: ellipsis;
}

/* ABOUT US  */

.aboutUsDesc {
  color: var(--white);
  width: 50%;
  text-align: center;
  justify-content: center;
  margin: auto;
}

/* Perks Section */
.perkCards {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  margin-bottom: 2%;
}

.perkCard {
  background-color: var(--white);
  margin: 0 100px;
  padding: 20px 20px;
  display: flex;
  width: 20%;
  flex-direction: row;
  border-radius: 10px;
}

.perkDesc {
  font-size: 1.8em;
  margin-left: 4%;
  margin: auto;
}

.perkCard i {
  font-size: 4em;
  padding: 20px;
}

/* sponsors section */

.sponsors {
  width: 50%;
  height: auto;
  margin: auto;
  margin-left: 25%;
}
@media (max-width: 420px) {
  .sectionHeader {
    font-size: 2.2em;
    margin: 0 40px 10px 40px !important;
  }

  .sectionSubheader {
    font-size: 1.2em;
    margin: 20px 20px;
  }
  .domainCards {
    flex-direction: column;
  }

  .trackCards {
    flex-direction: column;
    margin-left: 12%;
    justify-content: space-around;
  }

  .trackCard {
    width: 80% !important;
    margin: auto;
  }

  .FAQHead {
    color: var(--black);
    font-size: 0.8em;
    text-overflow: ellipsis;
  }

  .aboutUsDesc {
    width: 80%;
  }

  .perkCards {
    /* margin: 10%; */
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .perkCard {
    margin: 4%;
    width: 80%;
  }

  .perkCard i {
    font-size: 1.8em;
  }

  .perkDesc {
    font-size: 1.4em;
  }

  .sponsors {
    width: 70%;
    height: auto;
    margin-left: 15%;
  }
}
